; EditorConfig is awesome: EditorConfig.org

; Top-most EditorConfig file
root = true

; Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.js]
indent_style = space

[*.md,*.markdown]
trim_trailing_whitespace = false

[*.py]
indent_style = space
